* {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

a{
    text-decoration: none;
}

/*header*/

header {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100px;
    transition: 0.5s;
    z-index: 999;
    background-color: #8590ff;
}

.logo {
    padding-top: 15px;
    height: 90%;
}

.scrolled-search {
    opacity: 1;
    pointer-events: all;
}

.main-menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.menu-item {
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: #000000;
}

.menu-item:hover {
    color: #ffffff;
    background-color: #000000;
    border-radius: 30px;
    padding: 10px 24px;
}

.cta {
    padding: 10px 24px;
    border-radius: 30px;
    background-color: #1f2cc4;
    color: #ffffff;
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.cta:hover {
    color: #ffffff;
    background-color: #000000;
}

html {
    scroll-behavior: smooth;
}

body {}

.div-1 {
    margin: 5%;
    margin-top: 20vh;
}

.btn-volver {
    background-color: #1f2cc4;
    color: white;
    transition: all 0.3s;
}

.btn-volver:hover {
    background-color: #3240d4;
    color: white;
}

.btn-volver i {
    color: white;
}

i {
    color: white;
}

.update-cart {
    background-color: #1f2cc4;
    border: 1px solid #1f2cc4;
}

.update-cart:hover {
    background-color: #3240d4;
    border: 1px solid #3240d4;
}

.i-pagar {
    color: #333333;
}


/*footer*/

footer {
    width: auto;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: 80px;
    margin-bottom: 1rem;
}

.social-icons-container,
.footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(../storage/img/imagenesWeb/TwitterBlanco.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover {
    background-color: #121212;
    filter: invert(1);
}

.social-icon:nth-of-type(2) {
    background-image: url(../storage/img/imagenesWeb/TelegramBlanco.png);
}

.footer-menu-container {
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}

.footer-item {
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.footer-item:hover {
    opacity: 1;
}

.copyright {
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}

.row-c:after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}