@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

* {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
}

.row-c:after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none !important;
}

/* ul{
    margin-top: 0;
    margin-bottom: 0rem;
} */

.leaflet-left .leaflet-control {
    margin-left: 10px;
    margin-top: 7rem !important;
}

/* ---------- NAV BAR ---------- */

#nav {
    background-color: #8590ff;
    position: fixed;
    width: 100%;
    transition: 0.5s;
    margin-top: 0px;
    z-index: 9999;
}

.nav_container {
    display: flex;
    width: 100%;
    /*Utiliza el mismo margen que en el @media*/
    height: 100px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 1%;
    padding-right: 5%;
}

.nav_logo {
    width: 80px;
    margin-left: 3%;
    z-index: 999;
}

.nav_img {
    width: 25px;
    padding-top: 1%;
    padding-right: 5px;
    z-index: 999;
}

.nav_menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-auto-flow: column;
    gap: 3em; */
}

.nav_item {
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: #000000;
}

.login_item {
    padding: 10px 24px;
    border-radius: 30px;
    background-color: #1f2cc4;
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.login_item:hover {
    color: #ffffff;
    background-color: #000000;
}

.nav_item:hover {
    color: #ffffff;
    background-color: #000000;
    border-radius: 30px;
    padding: 10px 24px;
}

.scrolled-search {
    opacity: 1;
    pointer-events: all;
}

.nav_input:checked+.nav_menu {
    background: white;
}

.nav_label,
.nav_input {
    display: none;
}


/*MENU RESPONSIVE + EFECTS*/

@media (max-width: 800px) {
    #nav {
        background-color: #8590ff;
        transition: 0.5s;
    }
    #nav a{
        z-index: 99999;
    }
    .nav_container {
        padding-left: 4%;
    }
    /*Icono*/
    .nav_label {
        /*Mostramos el contenido*/
        display: block;
        cursor: pointer;
        z-index: 999;
    }
    .nav_menu {
        grid-auto-flow: column;
        padding-top: 20%;
        position: fixed;
        top: 0;
        background-color: white;
        bottom: 0;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /*Efecto apertura*/
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }
    /*Items menú*/
    .nav_item {
        width: 65%;
        padding: 17px;
        border-radius: 25px;
        background-color: #6267FF;
        box-shadow: 0px 6px 10px rgb(0 0 0 /50%);
        color: #ffffff;
        margin-bottom: 1%;
    }
    .login_item {
        width: 65%;
        padding: 17px;
        border-radius: 25px;
        background-color: #FF9900;
        color: #ffffff;
    }
    /* .nav_item:hover {} */
    .nav_input:checked+.nav_menu {
        clip-path: circle(100% at center);
    }
    /* ---------- TWITTER ---------- */
    .twitter {
        position: static;
        margin: 10% 10% 10% 0%;
        box-shadow: 0px 0px 7px 10px #292f33;
        background-color: #292f33;
        border-radius: 5px;
    }
    /* --------------- OTROS ------------- */
    a {
        text-decoration: none !important;
        color: white;
    }
}

/* ---------------------------------------------------------------------------- */

.filtro {
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: center;
    margin-top: 8%;
    text-align: center;
}

.btn_filtro {
    width: 100px;
    height: 100%;
    color: white;
    background-color: #1f2cc4;
    border: 10px;
    border-radius: 7px;
    margin: 1%;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.btn_filtro:hover {
    background-color: black;
    transition: 0.5s;
}

.classtype {
    transform: scale(1.12);
    -webkit-animation-timing-function: cubic-bezier(.075, .82, .165, 1);
    animation-timing-function: cubic-bezier(.075, .82, .165, 1);
    box-shadow: 0 2px 17px 0 #000000;
    outline: none;
}

.btn_rut {
    border-radius: 5px;
    border-color: transparent;
    color: #ffffff;
    background-color: rgb(40, 125, 204);
    width: 48%;
    cursor: pointer;
    margin: 1%;
}

.btn_rut:hover {
    border-color: rgb(67, 40, 204);
}
