* {
    margin: 0%;
    /*font-family: 'Open Sans', sans-serif;*/
    color: #333333;
}

html {
    scroll-behavior: smooth;
}

body {}


/*header*/

header {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100px;
    transition: 0.5s;
    z-index: 999;
    background-color: #8590ff;
}

.logo {
    padding-top: 15px;
    height: 90%;
}

.scrolled-search {
    opacity: 1;
    pointer-events: all;
}

.main-menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.menu-item {
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: #000000;
}

.menu-item:hover {
    color: #ffffff;
    background-color: #000000;
    border-radius: 30px;
    padding: 10px 24px;
}

.cta {
    padding: 10px 24px;
    border-radius: 30px;
    background-color: #1f2cc4;
    color: #ffffff;
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.cta:hover {
    color: #ffffff;
    background-color: #000000;
}


/*Fotos*/

.container_prod {
    width: 30%;
    height: 100vh;
    margin-top: 15%;
    margin-left: 10%;
    float: left;
}

.img_pral {
    width: 100%;
    height: 70%;
    cursor: zoom-in;
    /*border: 1px solid #000;*/
}

.img_pral img {
    width: 100%;
    height: 100%;
}

[class *="subImg_"] {
    width: 25%;
    height: 15%;
    /*border: 1px solid #000;*/
    float: left;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 3%;
    margin-top: 2vh;
}

[class *="subImg_"]:hover {
    border: 1px solid #1f2cc4;
}

[class *="subImg_"] img {
    width: 100%;
    height: 100%;
    /*border: 1px solid #000;*/
    float: left;
}


/*descripcion*/

.producto {
    width: 50%;
    height: 100vh;
    margin-top: 15%;
    margin-left: 2%;
    float: left;
    color: #333333;
}

.nombre h4 {
    font-weight: 700;
}

.producto p {
    text-align: justify;
    font-size: 2.3vh;
}

.marca {
    font-size: 1.8vh;
}


/*tipos*/

.div-tipo {
    float: left;
    width: 100%;
    height: 20vh;
}

.tipo-nombre p {
    text-transform: uppercase;
    font-size: 2.5vh;
    font-weight: bold;
}

.tipo {
    border-color: rgb(255, 255, 255);
    border-radius: 10%;
    float: left;
    margin-right: 1.5%;
    cursor: pointer;
    background-color: rgb(255, 255, 255) !important;
}

.tipo:hover {}

.tipo-border {}

.tipo-texto p {
    margin-top: 1vh;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    margin-bottom: 0vh;
    font-weight: bold;
    font-size: 2vh;
    color: #575757;
}

.precio-texto p {
    font-size: 3vh;
    color: #d124ba;
    font-weight: bold;
    margin-left: 1.5vh;
    margin-bottom: 1vh;
    margin-right: 3vh;
}

.precio p {
    font-size: 5vh;
    color: #d124ba;
    font-weight: bold;
}

.btn-holder {
    text-align: center;
}

.btn-carrito {
    background-color: #1f2cc4;
    color: white;
    transition: all 0.3s;
}

.btn-carrito:hover {
    background-color: #3240d4 !important;
    color: white;
}

.carrito-cantidad {
    width: 100%;
    margin-top: 10%;
}

.anadir-carrito {
    width: 50%;
    float: left;
}

.cantidad {
    width: 50%;
    float: left;
}

.input-cantidad {
    margin-right: 2%;
    width: 30%;
    margin: 0%;
    float: left;
}

.quantity {
    width: 15vh;
}

.cantidad-precio {
    float: left;
    width: 10%;
    margin-left: 5%;
}

.cantidad-precio p {
    font-size: 5vh;
    color: #d124ba;
    font-weight: bold;
}


/*dropmenu*/

.div-dropmenu {
    position: absolute;
    top: 20%;
    right: 8%;
}

.div-dropmenu i {
    color: white;
}

.dropdown .dropdown-menu {
    padding: 20px;
    top: 30px !important;
    width: 350px !important;
    left: -110px !important;
    box-shadow: 0px 5px 30px black;
}

.btn-carrito {
    background-color: #1f2cc4 !important;
}

.total-header-section i {
    color: black;
}

.cart-detail {
    padding: 15px 0px;
}

.cart-detail-img img {
    width: 100%;
    height: 10vh;
    padding-left: 15px;
}

.cart-detail-product p {
    margin: 0px;
    color: #000;
    font-weight: 500;
    font-size: 2.5vh;
}

.cart-detail .price {
    font-size: 12px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 2.5vh;
}

.cart-detail .count {
    color: grey;
}

.checkout {
    border-top: 1px solid #d2d2d2;
    padding-top: 15px;
}

.checkout .btn-primary {
    border-radius: 50px;
    height: 40px;
}

.dropdown-menu:before {
    content: " ";
    position: absolute;
    top: -20px;
    right: 50px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
}

.btn-carrito {
    background-color: #1f2cc4;
    color: white;
    transition: all 0.3s;
}

.btn-carrito:hover {
    background-color: #3240d4;
    color: white;
}

.carrito-drop {
    background-color: #1f2cc4;
    border: 1px #1f2cc4;
}

.carrito-drop:hover {
    background-color: #3240d4;
}

.carrito-drop:focus {
    background-color: #1f2cc4;
    box-shadow: 0px 5px 30px #1f2cc4;
}

.color {
    color: #1f2cc4;
    font-weight: bold;
}


/*productos similares*/

.productos-similares {
    float: left;
    width: 90%;
    height: 100%;
    font-size: 3vh;
    font-weight: bold;
    margin-left: 10%;
}

.producto-similar {
    float: left;
    width: 16%;
    margin-right: 6%;
    margin-left: 2%;
    cursor: pointer;
    transition: all 0.5s;
    height: 75vh;
}

.caption-titulo {
    height: 15vh;
}

.caption-descripcion {
    height: 7vh;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption {
    margin: 7px;
    font-size: 2vh;
    font-weight: normal;
}

.btn-holder {
    text-align: center;
}

.btn-carrito {
    background-color: #1f2cc4;
    color: white;
    transition: all 0.3s;
}

.btn-carrito:hover {
    background-color: #3240d4;
    color: white;
}

.producto-precio p {
    font-size: 3vh;
    color: #d124ba;
    font-weight: bold;
}

.productos-similares a {
    text-decoration: none;
}


/*carousel*/

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-control-prev {
    position: absolute;
    left: -5vh;
    margin-left: 0;
    width: 2%
}

.carousel-control-next {
    position: absolute;
    right: 8vh;
    margin-right: 0;
    width: 2%
}


/*opiniones*/

.opiniones {
    float: left;
    width: 90%;
    height: 100%;
    font-size: 3vh;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 3%;
}

.div-opiniones {
    float: left;
    width: 70%;
    height: 100%;
    margin-left: 0%;
}

.opinion {
    float: left;
    width: 100%;
    margin-top: 2%;
    font-weight: normal;
    font-size: 2.3vh;
}

.div-valoracion {
    float: left;
    width: 30%;
    height: 100%;
    font-weight: normal;
    font-size: 2.3vh;
}

.div-valoracion i,
.opinion-nombre i {
    color: #1f2cc4;
    transform: scale(1.3);
    margin-right: 2%;
}

.opinion-nombre {
    float: left;
    width: 20%;
}

.opinion-texto {
    float: left;
    width: 70%;
    text-align: justify;
}

.btn-mas {
    border-color: #1f2cc4;
    color: #1f2cc4;
}

.btn-mas:hover {
    background-color: #1f2cc4;
    border-color: #1f2cc4;
}

.btn-mas:focus {
    box-shadow: 0px 5px 30px #1f2cc4;
    background-color: white;
    border-color: white;
}


/*footer*/

footer {
    width: auto;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: 80px;
    margin-bottom: 1rem;
}

.social-icons-container,
.footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(../storage/img/imagenesWeb/TwitterBlanco.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover {
    background-color: #121212;
    filter: invert(1);
}

.social-icon:nth-of-type(2) {
    background-image: url(../storage/img/imagenesWeb/TelegramBlanco.png);
}

.footer-menu-container {
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}

.footer-item {
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.footer-item:hover {
    opacity: 1;
}

.copyright {
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}

.row-c:after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}


/*modal img*/


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 5vh;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 30%;
    height: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 13vh;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}


/*modal añadir carrito*/


/* Modal Content */

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content2 {
    position: absolute;
    top: 30%;
    left: 25%;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s
}


/* The Close Button */

.close2 {
    color: #333333;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.div-modal {
    padding: 2px 16px;
}

.div-modal i {
    color: rgb(75, 255, 40);
}

.div-seguir,
.div-pagar {
    float: left;
    width: 48%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.div-pagar a {
    text-decoration: none;
}

.btn-pagar {
    border-color: #1f2cc4;
    background-color: #1f2cc4;
}

.btn-pagar:hover {
    background-color: #3240d4;
    border-color: #3240d4;
}

.btn-pagar:focus {
    box-shadow: 0px 5px 30px #1f2cc4;
    background-color: #3240d4;
    border-color: #3240d4;
}


/* 100% Image Width on Smaller Screens modal IMG*/

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}