* {
    box-sizing: border-box;
    /* font */
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* CLASES HEADER */

header {
    background-image: url(../img/header.jpg);
    background-size: cover;
    padding: 30px;
    color: white;
    font-size: 30px;
}


/* CLASES BODY */

.zoom {
    transition: transform .2s;
    margin: 20px 0px 50px 0px;
}

.zoom:hover {
    transform: scale(1.5);
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.cesta {
    padding-right: 10px;
    text-decoration: none;
    color: red;
}

.cesta:hover {
    color: rgb(180, 0, 0);
}

.titulo {
    padding-top: 70px;
    text-align: center;
    text-decoration: underline;
}

.three-column {
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 20px 0px 10px 0px;
}

.box {
    margin: 30px;
    padding: 20px;
    width: 100%;
    height: 480px;
}

.box:hover {
    background-color: rgba(241, 241, 241, 0.808);
}

.añadir {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3d348b;
    box-shadow: 0 5px #2c0b8e;
}

.añadir:hover {
    box-shadow: 0 3px #2c0b8e;
    top: 1px;
}

.añadir:active {
    box-shadow: 0 0 #2c0b8e;
    top: 5px;
}


/*SELECCIONAR*/

.tallas {
    position: relative;
    border: 1px solid #ccc;
    width: 180px;
    height: 30px;
    overflow: hidden;
    background-color: #fff;
}

.tallas:before {
    content: '';
    position: absolute;
    right: 5px;
    top: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    z-index: 5;
    pointer-events: none;
}

.tallas select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
}


/* CLASES DE COLUMNAS FOOTER */

.one-column-s1-l {
    float: left;
    padding-left: 15px;
    text-decoration: none;
}

.one-column-s1 {
    float: right;
    padding-right: 15px;
    text-decoration: none;
}

.filtro {
    padding: 20px 40px 20px 40px;
}

.filtro input,
.filtro select {
    padding: 10px;
    border-radius: 3px;
}

#section1 {
    background-color: rgb(240, 240, 240);
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: 0;
}

.one-column-footer {
    padding: 10px;
    float: left;
    color: white;
    width: 100%;
}

.two-column-footer {
    float: left;
    width: 15%;
}

.four-column-footer {
    float: left;
    padding: 0px 5% 0px 5%;
    width: 25%;
    color: white;
}

.one-column-footer p {
    font-weight: 500;
}

.four-column-footer p {
    font-weight: 500;
}

#footer1 {
    background-color: #3c4048;
}

#footer2 {
    background-color: #000000;
}