@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

* {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    background-image: /* linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), */url(../img/imagenesWeb/foto_registree.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.row-c:after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none !important;
}

/* ---------- Registro ---------- */

.container{
    padding-top: 5%;
}

h3{
    margin-top: -5px !important;
    margin-bottom: -10px !important;
    font-weight: bolder;
}

.formulario {
    /* background: rgb(0 0 0 / 43%); */
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(0 0 0);
    color: rgb(0, 0, 0);
    /* se descomenta esto si al final en el registro se pone un icono a la derecha y el formulario a la izquierda
    width: 70%; */
    width: 50%;
    margin-top: 4.5%;
}

span{
    font-weight: bolder;
}

.form-group-1 {
    margin-bottom: 1%;
    width: 46.9%;
    float: left;
    box-sizing: border-box;
    /* filter: invert(1);*/
}

.form-group-2 {
    margin-bottom: 2%;
    box-sizing: border-box;
}

.form-group-4 {
    margin-bottom: 2%;
    box-sizing: border-box;
    float: left;
}

.formIzquierda{
    float: left;
    width: 69%;
}

.formDerecha{
    float: right;
    width: 31%;
    text-align: center;
    margin: 25% 0% 0% 0%;
}

.form-control {
    background: rgb(198 198 198);
    border-style: none;
    transition: 0.5s ease-in;
    outline: none;
    box-shadow: none;
    color: #000000;
    /* font-weight: bolder; */
    /* filter: invert(1);*/
}

.form-control:focus {
    background: none;
    box-shadow: none;
    outline: none;
}

.form-control::placeholder {
    color: rgb(0, 0, 0);
}

.ingresar {
    background: #222A3F;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    transition: 0.5s ease-in;
}

.ingresar:hover {
    color: white;
}

.olvide {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
}

.olvide:hover {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    cursor: pointer;
}

.olvide1 {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    font-size: 15px;
    font-weight: 700!important;
    /* border: 2px solid white; */
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .5);
}

.olvide1:hover {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    cursor: pointer;
}

/* ---------- HEADER ---------- */

header {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100px;
    transition: 0.5s;
}

.logo {
    height: 80%;
}

ul{
    margin-bottom: 0rem;
}

.scrolled-search {
    opacity: 1;
    pointer-events: all;
}

.main-menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.menu-item {
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: #000000;
}

.menu-item:hover {
    color: #ffffff;
    background-color: #000000;
    border-radius: 30px;
    padding: 10px 24px;
}

.cta {
    padding: 10px 24px;
    border-radius: 30px;
    background-color: var(--main-color);
    color: #ffffff;
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.cta:hover {
    color: #ffffff;
    background-color: #000000;
}

.cta-logout {
    padding: 10px 24px;
    border-radius: 30px;
    background-color: #006d9c;
    color: #ffffff;
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.cta-logout:hover {
    color: #ffffff;
    background-color: #000000;   
}