* {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

html {
    scroll-behavior: smooth;
}

body {}

.div-1 {
    float: left;
    width: 100%;
}

.filtros-precio-marca {
    width: 20%;
    height: 100%;
    margin: 2%;
}

.filtro-precio,
.filtro-marca {
    font-size: 2.5vh;
    font-weight: bold;
    float: left;
    margin-bottom: 10vh;
    width: 100%;
}


/*radio buttons*/

.filtro-precio input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    padding: 3px;
    background-clip: content-box;
    border: 3px solid #b6bfc8;
    background-color: #e7e6e7;
    border-radius: 50%;
    margin-bottom: -1%;
    transition: 0.3s;
    cursor: pointer;
}

.filtro-precio input:checked {
    background-color: #35B8B2;
    border: 3px solid #35B8B2;
}

.filtro-precio input:hover {
    border: 3px solid #35B8B2;
    transition: 0.3s;
}


/*checkboxs*/

.filtro-marca input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    padding: 1px;
    background-clip: content-box;
    border: 3px solid #b6bfc8;
    background-color: #e7e6e7;
    margin-bottom: -1%;
    transition: 0.3s;
    cursor: pointer;
}

.filtro-marca input:checked {
    background-color: #35B8B2;
    border: 3px solid #35B8B2;
}

.filtro-marca input:hover {
    border: 3px solid #35B8B2;
    transition: 0.3s;
}

.filtro-precio label,
.filtro-marca label {
    width: 100%;
    cursor: pointer;
    font-size: 2.5vh;
    font-weight: normal;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 3px solid #b6bfc8;
}

.container:hover input~.checkmark {
    border: 3px solid #35B8B2;
}

.container input~.checkmark {
    transition: all 0.5s;
}

.container input:checked~.checkmark {
    background-color: #35B8B2;
    border: 3px solid #35B8B2;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*search bar*/

.filtro-search-bar {
    width: 78%;
    height: 20%;
    margin: 0%;
}

.filtro-search-bar i {
    position: absolute;
    top: 5%;
    color: grey;
    opacity: 0.7;
    margin-left: 0.7%;
}

.filtro-search-bar input {
    padding-left: 3%;
    margin-top: -0.5%;
    width: 80vh;
}


/*categorias*/

.fitro-categoria {
    float: left;
    width: 78%;
    height: 100%;
    margin: 0%;
    margin-top: -7%;
    margin-left: -2%;
}

.categoria {
    float: left;
    width: 20%;
    font-size: 3vh;
    margin-left: 3%;
    margin-bottom: 5vh;
    background-color: aqua;
    text-align: center;
    border-radius: 3%;
    cursor: pointer;
    transition: all 0.3s;
}

.categoria p {
    margin: 4% 2%;
}

.categoria:hover {
    transform: scale(1.1);
}


/*productos*/

.productos {
    float: left;
    width: 78%;
    height: 100%;
    font-size: 3vh;
    font-weight: bold;
}

.producto {
    float: left;
    width: 20%;
    margin-right: 3%;
    cursor: pointer;
    transition: all 0.5s;
    height: 75vh;
}

.caption-titulo {
    height: 15vh;
}

.caption-descripcion {
    height: 7vh;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption {
    margin: 7px;
    font-size: 2vh;
    font-weight: normal;
}

.btn-holder {
    text-align: center;
}

.btn-carrito {
    background-color: #35B8B2;
    color: white;
    transition: all 0.3s;
}

.btn-carrito:hover {
    background-color: #1d9690;
    color: white;
}

.producto-precio p {
    font-size: 3vh;
    color: #d124ba;
    font-weight: bold;
}

.productos a {
    text-decoration: none;
}


/*dropmenu*/

.div-dropmenu {
    position: absolute;
    top: 3%;
    right: 8%;
}

.div-dropmenu i {
    color: white;
}

.dropdown .dropdown-menu {
    padding: 20px;
    top: 30px !important;
    width: 350px !important;
    left: -110px !important;
    box-shadow: 0px 5px 30px black;
}

.btn-carrito {
    background-color: #35B8B2;
}

.total-header-section i {
    color: black;
}

.cart-detail {
    padding: 15px 0px;
}

.cart-detail-img img {
    width: 100%;
    height: 10vh;
    padding-left: 15px;
}

.cart-detail-product p {
    margin: 0px;
    color: #000;
    font-weight: 500;
}

.cart-detail .price {
    font-size: 12px;
    margin-right: 10px;
    font-weight: 500;
}

.cart-detail .count {
    color: grey;
}

.checkout {
    border-top: 1px solid #d2d2d2;
    padding-top: 15px;
}

.checkout .btn-primary {
    border-radius: 50px;
    height: 40px;
}

.dropdown-menu:before {
    content: " ";
    position: absolute;
    top: -20px;
    right: 50px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
}