@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
* {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0%;
    color: #333333;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

header {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100px;
    transition: 0.5s;
    z-index: 999;
}

ul {
    margin-bottom: 0rem;
}

.logo {
    height: 80%;
    margin-top: 1%;
}

.scrolled-search {
    opacity: 1;
    pointer-events: all;
}

.main-menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.menu-item {
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: #000000;
}

.menu-item:hover {
    color: #ffffff;
    background-color: #000000;
    border-radius: 30px;
    padding: 10px 24px;
}

.cta {
    padding: 10px 24px;
    border-radius: 30px;
    background-color: var(--main-color);
    color: #ffffff;
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.cta:hover {
    color: #ffffff;
    background-color: #000000;
}

.cta-logout {
    padding: 10px 24px;
    border-radius: 30px;
    background-color: #006d9c;
    color: #ffffff;
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.cta-logout:hover {
    color: #ffffff;
    background-color: #000000;
}

.div-1 {
    float: left;
    width: 100%;
}

.filtros-precio-marca {
    width: 20%;
    height: 100%;
    margin: 2%;
    margin-bottom: 10%;
}

.filtro-precio,
.filtro-marca {
    font-size: 2.5vh;
    font-weight: bold;
    float: left;
    margin-bottom: 10vh;
    width: 100%;
}


/*radio buttons*/

.filtro-precio input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    padding: 3px;
    background-clip: content-box;
    border: 3px solid #b6bfc8;
    background-color: #e7e6e7;
    border-radius: 50%;
    margin-bottom: -1%;
    transition: 0.3s;
    cursor: pointer;
}

.filtro-precio input:checked {
    background-color: #1f2cc4;
    border: 3px solid #1f2cc4;
}

.filtro-precio input:hover {
    border: 3px solid #3240d4;
    transition: 0.3s;
}


/*checkboxs*/

.filtro-marca input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    padding: 1px;
    background-clip: content-box;
    border: 3px solid #b6bfc8;
    background-color: #e7e6e7;
    margin-bottom: -1%;
    transition: 0.3s;
    cursor: pointer;
}

.filtro-marca input:checked {
    background-color: #1f2cc4;
    border: 3px solid #1f2cc4;
}

.filtro-marca input:hover {
    border: 3px solid #3240d4;
    transition: 0.3s;
}

.filtro-precio label,
.filtro-marca label {
    width: 100%;
    cursor: pointer;
    font-size: 2.5vh;
    font-weight: normal;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 3px solid #b6bfc8;
}

.container:hover input~.checkmark {
    border: 3px solid #1f2cc4;
}

.container input~.checkmark {
    transition: all 0.5s;
}

.container input:checked~.checkmark {
    background-color: #1f2cc4;
    border: 3px solid #1f2cc4;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*search bar*/

.filtro-search-bar {
    width: 78%;
    height: 20%;
    margin: 0%;
}

.filtro-search-bar i {
    position: absolute;
    top: 22%;
    color: grey;
    opacity: 0.7;
    margin-left: 0.7%;
}

.filtro-search-bar input {
    padding-left: 3%;
    margin-top: -0.5%;
    width: 80vh;
    border: 1px solid #b6bfc8 !important;
}

.filtro-search-bar input:focus {
    box-shadow: 0px 5px 30px #8590ff !important;
}


/*categorias*/

.fitro-categoria {
    float: left;
    width: 78%;
    height: 100%;
    margin: 0%;
    margin-top: -7%;
    margin-left: -2%;
}


/*
.categoria {
    float: left;
    width: 20%;
    font-size: 3vh;
    margin-left: 3%;
    margin-bottom: 5vh;
    background-color: #1f2cc4;
    text-align: center;
    border-radius: 3%;
    cursor: pointer;
    transition: all 0.3s;
}

.categoria p {
    margin: 4% 2%;
    color: white;
}

.categoria:hover {
    transform: scale(1.1);
}
*/


/*categoria dropdown*/

.div-categoria {
    float: left;
    width: 20%;
    font-size: 3vh;
    margin-left: 3%;
    margin-bottom: 5vh;
}

.btn-categoria {
    border-color: #1f2cc4;
    background-color: #1f2cc4;
    color: white;
    transition: all 0.3s;
}

.btn-categoria:focus {
    box-shadow: 0px 5px 30px #1f2cc4;
    background-color: #1f2cc4;
    color: white;
    transform: scale(1.1);
}

.btn-categoria:hover {
    background-color: #1f2cc4;
    border-color: #1f2cc4;
    color: white;
    transform: scale(1.1);
}

.btn-categoria:active {
    background-color: #1f2cc4;
    border-color: #1f2cc4;
    color: white;
}

.categoria:focus,
.categoria:hover {
    background-color: #1f2cc4;
    border-color: #1f2cc4;
    color: white;
}

.dropdown-toggle::before {
    display: none;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    box-shadow: 0px 5px 30px black;
    border-radius: 3%;
}

.btn-sub-categoria {
    width: 100%;
    text-align: left;
}

.btn-sub-categoria:hover,
.btn-sub-categoria:focus {
    background-color: #1f2cc4;
    border-color: #1f2cc4;
    color: white;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}


/*productos*/

.productos {
    float: left;
    width: 78%;
    height: 100%;
    font-size: 3vh;
    font-weight: bold;
}

.producto {
    float: left;
    width: 20%;
    margin-right: 3%;
    cursor: pointer;
    transition: all 0.5s;
    height: 75vh;
}

.caption-titulo {
    height: 15vh;
}

.caption-descripcion {
    height: 7vh;
    margin-top: 3%;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption {
    margin: 7px;
    font-size: 2vh;
    font-weight: normal;
}

.btn-holder {
    text-align: center;
}

.btn-carrito {
    background-color: #1f2cc4;
    color: white;
    transition: all 0.3s;
}

.btn-carrito:hover {
    background-color: #3240d4;
    color: white;
}

.producto-precio p {
    font-size: 3vh;
    color: #d124ba;
    font-weight: bold;
}

.productos a {
    text-decoration: none;
}


/*dropmenu*/

.div-dropmenu {
    position: absolute;
    top: 20%;
    right: 8%;
}

.div-dropmenu i {
    color: white;
}

#dropdown #dropdown-menu {
    padding: 20px;
    top: 30px !important;
    width: 390px !important;
    left: -110px !important;
    box-shadow: 0px 5px 30px black;
}

.btn-carrito {
    background-color: #1f2cc4;
}

.total-header-section i {
    color: black;
}

.cart-detail {
    padding: 15px 0px;
}

.cart-detail-img img {
    width: 100%;
    height: 10vh;
    padding-left: 15px;
}

.cart-detail-product p {
    margin: 0px;
    color: #000;
    font-weight: 500;
}

.cart-detail .price {
    font-size: 12px;
    margin-right: 10px;
    font-weight: 500;
}

.cart-detail .count {
    color: grey;
}

.checkout {
    border-top: 1px solid #d2d2d2;
    padding-top: 15px;
}

.checkout .btn-primary {
    border-radius: 50px;
    height: 40px;
}

#dropdown-menu:before {
    content: " ";
    position: absolute;
    top: -20px;
    right: 50px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
}

.color {
    color: #1f2cc4;
    font-weight: bold;
}

.carrito-drop {
    background-color: #1f2cc4;
    border: 1px #1f2cc4;
}

.carrito-drop:hover {
    background-color: #3240d4;
}

.carrito-drop:focus {
    background-color: #1f2cc4;
    box-shadow: 0px 5px 30px #1f2cc4;
}

.btn-mas3 {
    border-color: #1f2cc4;
    color: #1f2cc4;
}

.btn-mas3:hover {
    background-color: #1f2cc4;
    border-color: #1f2cc4;
}

.btn-mas3:focus {
    box-shadow: 0px 5px 30px #1f2cc4;
    background-color: white;
    border-color: white;
}


/*modal añadir carrito*/

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* Modal Content */

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content2 {
    position: absolute;
    top: 30%;
    left: 25%;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s;
}


/* The Close Button */

.close2 {
    color: #333333;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.div-modal {
    padding: 2px 16px;
    float: left;
}

.div-modal i {
    color: rgb(75, 255, 40);
}

.div-img {
    float: left;
    width: 25%;
    height: 70%;
    margin: 2%;
}

.div-img img {
    width: 100%;
    height: 100%;
}

#error-carrito {
    margin-top: 2%;
    color: red;
    font-size: 2vh;
    text-align: center;
    font-weight: bold;
}

.modal-texto {
    float: left;
    width: 60%;
    margin-left: 2%;
    margin-top: 2%;
}

.bold {
    font-weight: 600;
}


/*modal tipos*/

.tipo-nombre p {
    text-transform: uppercase;
    font-size: 2.5vh;
    font-weight: bold;
}

.tipo {
    border-color: rgb(255, 255, 255);
    border-radius: 10%;
    float: left;
    margin-right: 1.5%;
    cursor: pointer;
    background-color: rgb(255, 255, 255) !important;
}

.tipo-texto p {
    margin-top: 2%;
    margin-bottom: 0vh;
    font-weight: bold;
    font-size: 2vh;
    color: #575757;
}

.precio-texto p {
    font-size: 3vh;
    color: #d124ba;
    font-weight: bold;
    margin-bottom: 2%;
    margin-right: 3vh;
}

.div-pagar {
    float: left;
    margin-bottom: 5%;
    margin-top: 3%;
}

.input-cantidad {
    margin-right: 2%;
    width: 30%;
    margin: 0%;
    float: left;
}

.quantity {
    width: 15vh;
}

.cantidad-precio {
    float: left;
    margin-left: 7vh;
}

.cantidad-precio p {
    font-size: 5vh;
    color: #d124ba;
    font-weight: bold;
}

.anadir-carrito {
    width: 100%;
    float: left;
}


/*modal pagado*/

.modal3 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content3 {
    position: absolute;
    top: 30%;
    left: 25%;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s
}


/* The Close Button */

.close3 {
    color: #333333;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close3:hover,
.close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.div-modal3 {
    padding: 2px 16px;
}

.div-modal3 i {
    color: rgb(75, 255, 40);
}

.div-seguir3,
.div-pagar3 {
    float: left;
    width: 48%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.div-pagar3 a {
    text-decoration: none;
}

.btn-pagar3 {
    border-color: #1f2cc4;
    background-color: #1f2cc4;
}

.btn-pagar3:hover {
    background-color: #3240d4;
    border-color: #3240d4;
}

.btn-pagar3:focus {
    box-shadow: 0px 5px 30px #1f2cc4;
    background-color: #3240d4;
    border-color: #3240d4;
}


/*popup*/


/* The actual popup */

.popuptext {
    visibility: hidden;
    width: auto;
    background-color: white;
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 8px 8px;
    position: absolute;
    z-index: 1;
    top: -20%;
    left: 20%;
    margin-left: -80px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Toggle this class - hide and show the popup */

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}


/*footer*/

footer {
    width: auto;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: 80px;
    margin-bottom: 1rem;
}

.social-icons-container,
.footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(../img/imagenesWeb/TwitterBlanco.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover {
    background-color: #121212;
    filter: invert(1);
}

.social-icon:nth-of-type(2) {
    background-image: url(../img/imagenesWeb/TelegramBlanco.png);
}

.footer-menu-container {
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}

.footer-item {
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.footer-item:hover {
    opacity: 1;
}

.copyright {
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}

.row-c:after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

@media only screen and (max-width: 1250px) {
    .row-c {
        margin-top: 20vh;
    }
    .div-categoria {
        width: 30%;
        font-size: 3vh;
        margin-left: 3%;
        margin-bottom: 5vh;
    }
    .dropright .dropdown-menu,
    .dropleft .dropdown-menu {
        top: 7vh !important;
        left: 0% !important;
    }
    .fa-search {
        display: none;
    }
    .producto {
        width: 20%;
        margin-right: 3%;
        cursor: pointer;
        transition: all 0.5s;
        height: 83vh;
    }
    .caption-descripcion {
        height: auto;
        margin-top: 3%;
    }
    .caption-titulo h5 {
        text-align: center;
        font-size: 3vh;
    }
    .caption-titulo {
        height: 20vh;
    }
}

@media only screen and (max-width: 950px) {
    .producto {
        width: 30%;
        margin-right: 3%;
        cursor: pointer;
        transition: all 0.5s;
        height: 90vh;
    }
    .div-categoria {
        width: 31%;
        font-size: 3vh;
        margin-left: 2%;
        margin-bottom: 5vh;
    }
    .thumbnail img {
        width: 100%;
        height: 100%;
    }
    .caption-titulo {
        height: 15vh;
    }
}

@media only screen and (max-width: 900px) {
    .filtro-precio,
    .filtro-marca {
        display: none;
    }
    .row-c {
        margin-top: 25vh;
    }
    .div-dropmenu {
        position: absolute;
        top: 17%;
        right: 35%;
    }
    #dropdown #dropdown-menu {
        padding: 20px;
        top: 30px !important;
        width: 300% !important;
        left: -55px !important;
        box-shadow: 0px 5px 30px black;
    }
    .carrito-drop {
        transform: scale(1.3);
    }
    .filtro-search-bar {
        width: 95%;
        height: auto;
        margin: 0%;
        margin-bottom: 5%;
    }
    .filtro-search-bar i {
        display: none;
    }
    .filtro-search-bar input {
        padding-left: 5%;
        margin-top: 0%;
        width: 100% !important;
        border: 1px solid #b6bfc8 !important;
        font-size: 2.5vh !important;
    }
    .form-control {
        margin-bottom: 3vh !important;
        margin-left: 2% !important;
        margin-right: 2% !important;
        width: 100% !important;
        font-size: 2.5vh !important;
        transform: scaleY(1.1) !important;
    }
    .fitro-categoria {
        width: 100%;
        height: auto;
        margin: 0%;
        margin-bottom: 5%;
    }
    .div-categoria {
        width: 96%;
        font-size: 4vh;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2vh;
    }
    .dropright .dropdown-menu,
    .dropleft .dropdown-menu {
        top: 7vh !important;
        left: 0% !important;
    }
    .btn-categoria {
        font-size: 3vh;
    }
    .btn-categoria:focus {
        transform: scale(1);
    }
    .dropdown-menu {
        width: 100%;
    }
    .categoria {
        font-size: 3vh !important;
    }
    .btn-sub-categoria {
        font-size: 3vh !important;
    }
    .productos {
        width: 100%;
        height: auto;
    }
    .productos p {
        text-align: center;
    }
    .producto {
        width: 100%;
        margin-right: 0%;
        height: auto;
    }
    .thumbnail {
        position: relative;
        padding: 0px;
        margin-bottom: 5vh;
    }
    .thumbnail img {
        width: 100%;
        height: 100%;
    }
    .caption-titulo {
        height: auto;
    }
    .caption-titulo h5 {
        text-align: center;
        font-size: 4vh;
    }
    .caption-descripcion {
        height: auto;
        margin-top: 3%;
    }
    .caption-descripcion p {
        text-align: left;
        margin-bottom: 0%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 2vh;
        display: none;
    }
    .producto-precio p {
        text-align: center;
        font-size: 5vh;
    }
    .btn-holder {
        transform: scaleY(1.1);
    }
    .btn-holder a {
        font-size: 3vh;
    }
    .modal-content2 {
        top: 20%;
        left: 5%;
        width: 90%;
        margin: 0%;
        height: auto;
    }
    .div-img {
        display: none;
    }
    .modal-texto {
        width: 98%;
        margin-left: 2%;
        margin-top: 2%;
        height: auto;
    }
    .modal-texto h5 {
        font-size: 4vh;
    }
    .modal-texto p {
        font-size: 2.5vh;
    }
    .cantidad-precio p {
        font-size: 5vh;
        color: #d124ba;
        font-weight: bold;
    }
    .form-control {
        margin-bottom: 0vh !important;
        margin-left: 2% !important;
        margin-right: 2% !important;
        width: 100% !important;
        font-size: 4vh !important;
        transform: scaleY(1.1) !important;
    }
    .btn-carrito {
        font-size: 3vh;
    }
    .modal-content3 {
        top: 20%;
        left: 5%;
        width: 90%;
        margin: 0%;
        height: auto;
    }
    .div-modal3 i {
        transform: scale(1.5) !important;
    }
    .div-modal3 p {
        height: 15vh;
    }
    .div-seguir3 {
        width: 100%;
        margin-top: 4vh;
        margin-bottom: 2vh;
        margin-left: 1%;
    }
    .div-pagar3 {
        width: 100%;
        margin-top: 0vh;
        margin-bottom: vh;
    }
    .btn-pagar3 {
        height: 6vh;
    }
    .div-modal {
        width: 100%;
    }
}