* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.row-c:after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-1 {
    margin-top: 20px;
    width: 60%;
}